<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
  <header>
    <a href="/">Home</a>
    <a href="/cars/new">Add Booking</a>
    <a href="/cars">View Cars </a>
  </header>
  <main>
    {% block content %}
    
    {% endblock content %}
  </main>
  <footer>
    <img class="logos" src="/static/images/mot_logo.jpg" alt="MOT Logo">
    <img class="logos" src="/static/images/rac_approved.jpg" alt="RAC Approved">
  </footer>
  </body>
</html>
