{% extends 'base.jinja' %}
{% block content %}
    <h1 class="needs_colour">Pauls Bangers</h1>

    {% for car in all_cars %}
    
    <p>{{ car.manufacturer }}</p>
    <p> 
        <a href="/cars/{{car.id}}">{{ car.model }}</a>
    </p>
    <p>{{ car.mechannic_id }}</p>

    
    

    <hr />
{% endfor %}
{% endblock content %}
