{% extends 'base.jinja' %}
{% block content %}
    <h1 class="needs_colour">Pauls Bangers</h1>

    <p><b>MOT:</b> £40</p>
    <p><b>Oil + Filter Lube:</b> from £80</p>
    <p><b>Interim Service:</b> from £130</p>
    <p><b>Full Service:</b> from £170</p>
    <p>Same day tyre change</p>
    <p>Discount for emergency services</p>

    
    

    
{% endblock %}
