{% extends 'base.jinja' %}
{% block content %}
    <form action="/cars/{{car.id}}/delete" method="post">
    <button>Delete Entry</button>
    </form>

    <form action="/cars/{{car.id}}/edit" method="post">
  <div>
    <label for="manufacturer">Manufacturer:</label>
    <input type="text" id="manufacturer" name="manufacturer" value="{{car.manufacturer}}" required autofocus>
  </div>

  <div>
    <label for="model">Model:</label>
    <input type="text" id="model" name="model" value="{{car.model}}" required>
  </div>

  <div>
    <label for="year">Year:</label>
    <input type="text" id="year" name="year" value="{{car.year}}" />
  </div>

  <div>
    <label for="owner_name">Owner:</label>
    <input type="text" id="owner_name" name="owner_name" value="{{car.owner_name}}" required>
  </div>

   <div>
    <label for="owner_number">Your Number:</label>
    <input type="text" id="owner_number" name="owner_number" value="{{car.owner_number}}" required>
  </div>

  <button type="submit">Update your booking</button>
  </form>
{% endblock content %}